<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>MyPage</title>
    <meta charset="utf-8">

    <div th:insert="~{parts/bootstrap::bootstrap-header}">
    </div>

</head>
<body>
<div th:insert="~{parts/bootstrap::bootstrap-js}">
</div>
<div th:insert="~{parts/navbar::authorized}">
</div>

<div class="container">
    <table>
        <tr>
            <th>Username</th>
            <th>password</th>
            <th>Roles</th>
        </tr>
        <tr>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:each="role : ${user.getRoles()}"><strong th:text="${role}"></strong></td>
        </tr>
    </table>
</div>

</body>
</html>