<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- all -->
<div th:fragment="all">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Training App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div sec:authorize="isAnonymous()">
                <div th:insert="~{parts/navbar-roles::anonimous}">
                </div>
            </div>
            <div sec:authorize="hasAuthority('USER')">
                <div th:insert="~{parts/navbar-roles::user}">
                </div>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <div th:insert="~{parts/navbar-roles::admin}">
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- authorized -->
<div th:fragment="authorized">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Training App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div sec:authorize="hasAuthority('USER')">
                    <div th:insert="~{parts/navbar-roles::user}">
                    </div>
                </div>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <div th:insert="~{parts/navbar-roles::admin}">
                    </div>
                </div>
        </div>
    </nav>
</div>
<!-- unauthorized -->
<div th:fragment="unauthorized">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Training App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div sec:authorize="isAnonymous()">
                    <div th:insert="~{parts/navbar-roles::anonimous}">
                    </div>
                </div>
        </div>
    </nav>
</div>
<!-- admin -->
<div th:fragment="admin">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Training App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div sec:authorize="hasAuthority('ADMIN')">
                    <div th:insert="~{parts/navbar-roles::admin}">
                    </div>
                </div>
        </div>
    </nav>
</div>
</body>
</html>


